.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: var(--accent2-color);
  overflow: auto;
  /* padding: .3rem; */
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding: .4rem;
  color: var(--teal-color);
  text-transform: uppercase;
  font-weight: 700;
}

.cart .close {
  /* position: absolute; */
  float: right;
  top: .5rem;
  right: .5rem;
  padding-right: 5px;
  cursor: pointer;
  font-size: xx-large;
  color: var(--teal-color);
}

.cart .close:hover {
  font-weight: bold;
  color: var(--teal-color);
}

.cart-color {
  color: var(--color-one);
}

.cart-closed {
  cursor: pointer;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart-color:hover {
  color: var(--accent-color);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.nothing-cart {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}


.checkout-btn {
  float: right;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--teal-color);
  color: var(--color-one);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  border: none;
}

.cart-header {
  margin: 0;
  background-color: var(--accent-color);
}

.cart-total {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.cart-total-container {
  padding-top: 20px;
  position: relative;
  
}
.cart-item-spacing {
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: var(--accent-color);
    border-bottom-left-radius: 0;
  }
  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
  .cart-closed:hover {
    transform: none;
    color: var(--color-one);
  }
}